<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>TextScanify</title>
    <link rel="shortcut icon" href="images/doc48.png" type="image/png">
    <link rel="stylesheet" href="C:\Users\katya\IdeaProjects\DocRecognitionNoBoot\web\css\login_styles.css"  type="text/css">
</head>
<body>
        <div class="heading">
        <h2>Письмо отправлено на почту</h2>
        <img src="C:\Users\katya\IdeaProjects\DocRecognitionNoBoot\web\images\msg.gif">
        </div>
</body>
</html>