<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>TextScanify</title>
    <link rel="icon" th:href="@{/images/doc48.ico}" sizes="48x48" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/login_styles.css}" type="text/css">
</head>
<body>
    <div class="heading">
        <h2>Письмо отправлено на почту</h2>
        <img th:src="@{/images/msg.gif}">
    </div>
</body>
</html>