<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>Комната 175</title>
		<link rel="stylesheet" href="C:\Users\katya\IdeaProjects\test_login\login_styles.css"  type="text/css">
		<script type="text/javascript" href="C:\Users\katya\Desktop\v\test1.css" defer></script>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
	</head>
	<body>
		<div class="container">
			<div class="forms">
				  <div class="form login">
					 <span class="title">Авторизация</span>

					 <form action="#">
						<div class="input-field">
						  <input type="text" placeholder="Введите логин" required>
						  <i class="uil uil-envelope icon"></i>
						</div>
						<div class="input-field">
						  <input type="password" class="password" placeholder="Введите пароль" required>
						  <i class="uil uil-lock icon"></i>
						  <i class="uil uil-eye-slash showHidePw"></i>
						</div>

						<div class="input-field button">
						  <input type="submit" value="Войти">
						</div>
					 </form>

						 <div class="checkbox-text">
							<a href="#" onclick="window.location='file:reset_password.html'" class="text">Забыли пароль?</a>
								<span class="text">
										<a href="#" onclick="window.location='file:registration.html'" class="text signup-link">Зарегистрироваться</a>
								</span>
						 </div>
				  </div>
			</div>
		</div>
		<script src="script.js"></script>
	</body>
</html>