<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Комната 175</title>
    <link rel="stylesheet" th:href="@{/css/login_styles.css}"  type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
</head>
<body>
<div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Новый пароль</span>
            <form action="/" th:action="@{/new_password}" method="POST">
                <div class="input-field">
                    <input type="password" name="password" placeholder="Введите новый пароль" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" name="passwordConfirm" placeholder="Повторите новый пароль" required>
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>
                <input type="text" name="token" th:value="${token}" style="display: none">
                <div class="input-field button">
                    <input type="button" onclick="savePassword()" value="Сменить пароль">
                </div>
            </form>
            <div class="checkbox-text">
                <a href="#" th:href="@{/}" class="text">Вернуться</a>
            </div>
        </div>
    </div>
</div>
<script>
    function savePassword() {
        let form = document.getElementsByTagName("form")[0];
        if (form.elements.password.value === form.elements.passwordConfirm.value
            && form.elements.password.value !== "") {
            form.submit();
        }else {
            alert("Поля должны совпадать и не быть пустыми");
        }
    }
</script>
</body>
</html>