<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/registration_styles.css}">
   </head>
<body>
  <div class="wrapper">
    <h2>Регистрация</h2>
    <form id="userForm" action="" th:action="@{/registration}" method="POST">
      <div class="input-box">
        <input type="text" name="username" placeholder="Введите имя" required>
      </div>
      <div class="input-box">
        <input type="email" name="email" placeholder="Введите почту" required>
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Введите пароль" required>
      </div>
      <div class="input-box">
        <input type="password" name="passwordConfirm" placeholder="Повторите пароль" required>
      </div>
      <div class="input-box button">
        <input type="submit" value="Зарегистрироваться">
      </div>
      <div class="text">
        <h3><a href="#" th:href="@{/login}">У меня уже есть учетная запись</a></h3>
      </div>
    </form>
  </div>
</body>
</html>